<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">



<dom-module id="my-view404">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }

      .flag{
        width:280px;
        height: 280px;
      }
      .center-element{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .center-screeen{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 100px;
        height: 100px;
      }

    </style>




      <div class="container" id="divLogIn" hidden="{{hideLogIn}}">

<!--
        <paper-dialog id="dialogError" display="false" class="classPaperDialog">
          <h2>Prueba</h2>
          <h3>Mensaje de error</h3>

        </paper-dialog>
-->

        <div class="row center-element" align="center">
          <img src="https://image.flaticon.com/icons/svg/1864/1864809.svg" class="col-lg-8 col-xs-12 flag">
        </div>
        <div class="row center-element" align="center">
          <h2>Log in</h2>
        </div>
        <div class="row" align="center">
          <table class="table">

            <tbody class="col-lg-8 col-xs-12">
              <tr>
                <td>
                  <label for="inputUserId">Usuario</label>
                </td>
                <td>
                  <input type="text" id="inputUserId" name="" value="{{userId::input}}" placeholder="Digite su id. de usuario" required>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="inputPassword">Contraseña</label>
                </td>
                <td>
                  <input type="password" id="inputPassword" name="" value="{{passValue::input}}" placeholder="Digite su contraseña" required/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
       <div class="row center-element">
         <!--<button class="btn" on-click="validateUser" type="button" name="button">
           <a href="[[rootPath]]">Head back to home.</a>
         </button>-->

         <!--button class="btn" on-click="validateUser" type="button" name="button">fffffff</button-->
         <button class="btn" on-click="validateUser" type="button" name="button" >Ingresar</button>
         <button class="btn" on-click="showNewUser" type="button" name="buttonNewUser" >Registrarse</button>

       </div>


      </div>

      <div class="container" id="divPrincipal" hidden="{{!hideLogIn}}">
        <div class="row center-element" align="center">
          Prueba

        </div>

      </div>






<!--Oops you hit a 404. <a href="[[rootPath]]">Head back to home.</a> -->
  </template>

  <script>
    class MyView404 extends Polymer.Element {
      static get is() { return 'my-view404'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          userId:{
            type: String
          },
          hideLogIn: {
            type: Boolean,
            value: false
          }
        }

      }

      //Evento para validar usuario
            validateUser(){
              var hash = 0;
              var i;
              var chr;
              try {
                for (i = 0; i < this.passValue.length; i++) {
                  chr   = this.passValue.charCodeAt(i);
                  hash  = ((hash << 5) - hash) + chr;
                  hash |= 0; // Convert to 32bit integer
                }

              } catch (e) {
                if(this.userId === undefined){
                  alert('Identificador de usuario requerido.');
                } else if(this.passValue === undefined) {
                  alert('Contraseña requerida.');
                }

              } finally {

              }


             var prueba = hash;
              console.log("pass nuevo: " + prueba);
              this.hideLogIn = true;
              //console.log([[route.path]]);
              //this.set('rootPath', '/my-view1.html')

            };


    }

    window.customElements.define(MyView404.is, MyView404);
  </script>
</dom-module>
